.content-title{
    color: white;
    font-size: 24px; 
    text-decoration: underline;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-ul ul{
    color: white;
    list-style-type: none;
}

#web-content p{
    color: white;
}

#disclaimer{
    color: white;
}